table{
    width: 800px;
    height: 400px;
    margin-left: 200px;
    margin-top: 50px;
    text-align:center;
    border-collapse: collapse;}     
    td{border: 3px solid black;}
    ul {
    position: relative;
    bottom: 70px;
     list-style-type: none;
     margin: 0;
     padding: 0;}
    h1{
        position:relative;
        bottom: 120px;}
    .h2{
        position: relative;
        bottom: 120px;}